html {
  scroll-behavior: smooth;
  scroll-padding-top: 70px; 
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
  background-color:#272727;
}

.follower {
    position:fixed;
    left:0;
    top:0;
    width:00px;
    height:00px;
    pointer-events:none;
    transform: translate(-50%,-50%);
    transition: none;
    will-change: transform;
    display:flex; align-items:center; justify-content:center;
    border-radius: 100%;
    box-shadow: 0 0 20vh 10vh rgb(255, 255, 255,0.4);
    margin: 0;
    padding: 0;
  }

.topnav {
  height: 8vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #555555;
  border: none;
  border-bottom: 1px solid rgb(177, 177, 177);
  box-sizing: border-box;
  padding: 15px 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  background-color: rgba(71, 71, 71, 0.5);
  backdrop-filter: blur(7px);
  overflow: hidden;
}

.navright {
    display: flex;
    align-items: center;
    gap: 15px; /* adds space between items */
  }

.topnav .logo {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.topnav .nav-links a {
  color: white;
  text-decoration: none;
  margin-left: 20px;
  transition: color 0.3s;
}

.topnav a:hover {
  color: #bfbfbf;
}

.content {
  position: relative;
  margin-top: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
    color: white;
}

.landingContainer {
  position: relative;
  display: grid;
  grid-template-columns: 1fr auto;
  place-items: center;
  margin: 0;
  padding: 0;
}

.landingImage {
  position: relative;
  margin-top: 22vh;
  display:block;
  height: 45vh;
  width: auto;
  border-radius: 100%;
  box-shadow: 0 0 3vh white;
  z-index: 20;
  padding:0;
  user-select: none;
}

.welcomeText {
  position: relative;
  margin-top: 7vh;
  display:block;
  color:white;
  font-size: 5vh;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  z-index: 20;
  font-weight: bold;
  margin-bottom: 0;
  padding: 0;
  user-select: none;
  text-align: center;
}

.name {
  color: rgb(164, 166, 255);
  font-family: Verdana, Geneva, Tahoma, sans-serif;

  z-index: 20;
  margin: 0;
  padding: 0;
}

.landingSection {
  position: relative;
  height: 100vh;
  margin-left: 0;
  width: 100%;
  background: radial-gradient(circle 110vh, rgb(68, 68, 68), rgb(29, 29, 29));
  margin-bottom: 0;
  padding: 0;
  z-index: 1;
  overflow: hidden;
}



.aboutSection {
  margin-top: 0;
  position: relative;
    background-color:#1f1f1f;
    z-index: 50;
    padding: 0;
}

#scrollhere {
  scroll-margin-top: -10px; 
}

.cursor {
  position: absolute;
  display: inline-block;
  margin-left: 2px;
  animation: blink 1.1s steps(1) infinite;
  font-weight: bold; 
}

@keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}

.glow1 {
  transform: translate(-40%, -10%);
  padding: 0;
  margin: 0;
  position: absolute;
  border-radius: 100%;
  background: radial-gradient(circle 90vh, rgb(93, 93, 93), transparent 90%);
  pointer-events: none;
  z-index: 1;
  width: 140vh;
  height: 140vh;
  filter: blur(30px);
}

.glow2 {
  transform: translate(90%, 10%);
  padding: 0;
  margin: 0;
  position: absolute;
  border-radius: 100%;
  background: radial-gradient(circle 60vh, rgb(93, 93, 93), transparent 90%);
  pointer-events: none;
  z-index: 1;
  width: 140vh;
  height: 140vh;
  filter: blur(30px);
}

.glowbox {
  position: relative;
  width: 0;
  height: 0;
}