html {
  scroll-behavior: smooth;
  scroll-padding-top: 70px; 
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
}

.follower {
    position:fixed;
    left:0;
    top:0;
    width:00px;
    height:00px;
    pointer-events:none;
    transform: translate(-50%,-50%);
    transition: none;
    will-change: transform;
    display:flex; align-items:center; justify-content:center;
    border-radius: 100%;
    box-shadow: 0 0 20vh 10vh rgb(178, 110, 255,0.4);
    margin: 0;
    padding: 0;
  }

.topnav {
  height: 8vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
  border-bottom: 1px solid rgb(177, 177, 177);
  box-sizing: border-box;
  padding: 15px 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  background-color: rgb(14, 0, 48, 0.2);
  backdrop-filter: blur(7px);
  overflow: hidden;
}

.navright {
    display: flex;
    align-items: center;
    gap: 15px; /* adds space between items */
  }

.topnav .logo {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.topnav .nav-links a {
  color: white;
  text-decoration: none;
  margin-left: 20px;
  transition: color 0.3s;
}

.topnav a:hover {
  color: #bfbfbf;
}

.content {
  position: relative;
  margin-top: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
    color: white;
}

.landingContainer {
  position: relative;
  display: grid;
  grid-template-columns: 1fr auto;
  place-items: center;
  margin: 0;
  padding: 0;
}

.landingImage {
  position: relative;
  margin-top: 22vh;
  display:block;
  height: 45vh;
  width: auto;
  border-radius: 100%;
  /* border-width: 3px;
  border-color: black;
  border-style: solid; */
  box-shadow: 0 0 2vh black;
  z-index: 20;
  padding:0;
  user-select: none;
}

.welcomeText {
  position: relative;
  margin-top: 7vh;
  display:block;
  color:beige;
  font-size: 5vh;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  z-index: 20;
  font-weight: bold;
  margin-bottom: 0;
  padding: 0;
  user-select: none;
  text-align: center;
}

.name, .changingText {
  color: #edbf40;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  z-index: 20;
  margin: 0;
  padding: 0;
}

.landingSection {
  position: relative;
  height: 100vh;
  margin-left: 0;
  width: 100%;
  /* background: radial-gradient(circle 110vh, rgb(113, 69, 163), rgb(14, 0, 48)); */
    background:
    url('background.png'),
    /* rgb(14, 0, 48); */
    radial-gradient(circle 90vh at center, rgb(77, 48, 111), rgb(14, 0, 48));
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 0;
  padding: 0;
  z-index: 1;
  overflow: hidden;
}



.aboutSection {
  margin-top: 0;
  position: relative;
    background-color:#1b122d;
    z-index: 50;
    padding: 0;
    padding-bottom: 10vh;
}

#scrollhere {
  scroll-margin-top: -10px; 
}

.cursor {
  position: absolute;
  display: inline-block;
  margin-left: 2px;
  animation: blink 1.1s steps(1) infinite;
  font-weight: bold; 
}

@keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}

.glow1 {
  transform: translate(-40%, -10%);
  padding: 0;
  margin: 0;
  position: absolute;
  border-radius: 100%;
  background: radial-gradient(circle 90vh, rgb(178, 110, 255), transparent 90%);
  opacity: 30%;
  pointer-events: none;
  z-index: 1;
  width: 140vh;
  height: 140vh;
  filter: blur(30px);
}

.glow2 {
  transform: translate(90%, 10%);
  padding: 0;
  margin: 0;
  position: absolute;
  border-radius: 100%;
  background: radial-gradient(circle 60vh, rgb(178, 110, 255), transparent 90%);
  opacity: 30%;
  pointer-events: none;
  z-index: 1;
  width: 140vh;
  height: 140vh;
  filter: blur(30px);
}

.glowbox {
  position: relative;
  width: 0;
  height: 0;
}

.aboutMe {
  position: relative;
  display:block;
  color:white;
  font-size: 9vh;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  z-index: 20;
  padding: 0;
  user-select: none;
  text-align: center;
  padding-top: 8vh;
  font-weight: 500;
  width: 50vh;
  margin: 0 auto;
  padding-bottom: 2vh;
  border-bottom: solid 0.8vh #edbf53;
}

.bodyBackground {
  background-color: rgb(14, 2, 49, 0.3);
  border-radius: 15px;
  border-width: 2px;
  border-color: #edbf53;
  border-style: solid;
  width: 80vh;
  margin-top: 10vh;
  margin: 0 auto;
  margin-bottom: 10vh;
}

.bodyText {
  opacity: 100%;
  position: relative;
  display:block;
  color:white;
  width: 70vh;
  margin: 0 auto;
  font-size: 3vh;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}

.highlight {
  color: rgb(164, 166, 255);
  font-size: 3vh;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-decoration: underline;
  z-index: 20;
  margin: 0;
  padding: 0;
}

.diamondGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 8vh);
  grid-auto-rows: 10vh;
  gap: 0;
}

.diamondGrid > .diamond:nth-child(even) {
  transform: translateY(11.6vh) scaleY(1.5) translate(5vh,0) rotate(45deg);
}

.diamond {
  transform: scaleY(1.5) translate(5vh,0) rotate(45deg);
  position: relative;
  height: 10vh;
  width: 10vh;
  background-color: white;
  transform-origin: center;
  align-items: center;
  justify-content: center;
  display: flex;
  padding: 0;
  margin: 0;
}

.diamondText {
  transform: rotate(-45deg);
}

.dRed {
  background-color: red;
}

.diamond:hover {
  box-shadow: 0 0 20px 5px #fffa91;
}